h1{
    font-family: initial;
    font-size: 100px;
    font-weight: normal;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 50px;
    text-align: justify;
    text-transform: capitalize;
    text-indent: 100px;
}
a{
    text-decoration:none;   
}
body{
    background-color: white;
    background-image: url(images-removebg-preview.png); 
    background-repeat: no-repeat;
}
